# Build artifacts (keep main release executable minigit.exe)
*.o
*.obj
/module/test_trie*
/module/test_add*
/module/test_init*
/module/test_cli*
/module/test_commit*
/module/test_log*
/module/minigit_demo*
/module/minigit_log_demo*
!minigit.exe
/module/minigit
/module/minigit.exe

# Local test minigit directories
.minigit/
.minigitignore

# IDE & Editor files
.vscode/
.idea/
*.swp
*~
